html,body{
	margin:0;
}

body{
	background-color:black;
}

header{
	position:fixed;
	width:100%;
}

*{
	padding:0px;
	margin:0px;
	padding:0px;
	text-indent:0px;
}

.home{
	float:left;
	width:150px;
	background-color:red;
	text-align:center;
	font-size:150%;
	padding:10px;
}

.homeLinkWrapper{
	background-color:black;
	border:2px;
	border-color:black;
	border-style:solid;
	border-radius:20px;
}

.homeLink{
	text-decoration:none;
	color:red;
	display:block;
}

.navBar{
	list-style-type:none;
	margin:0px;
	height:78px;
	background: linear-gradient(to left, #ff6666 0%, #ff0000 50%);
}

.a1{
	text-decoration:none;
	color:black;
	display:block;
}


.navItem{
	display:block;
	text-align:center;
	background-color:#A9A9A9;
	width:10%;
	height:52px;
	border-top:13px solid black;
	border-bottom:13px solid black;
	border-left:10px solid black;
	border-right:10px solid black;
	line-height:3.2;
	overflow:hidden;
}

.navBar>.navItem:hover{
	overflow:visible;
}

.navBar>.navItem{
	float:left;
}

.submenu{
	list-style-type:none;
	position:relative;
	top:13px;
}

.submenu>.navItem{
	width:100%;
	position:relative;
	right:10px;
}

.main{
	padding-top:10%;
}

footer{
	background-color:black;
	margin:0;
	width:100%;
}

.footerP{
	color:#A9A9A9;
	position:absolute;
	left:5px;
}

.toTop{
	color:#A9A9A9;
	position:absolute;
	right:5px;
}