main{
	background-color:gray;
	padding-bottom:35px;
}

.mainContent{
	padding-left:2%;
	padding-right:2%;
}

#articleName{
	padding-bottom:20px;
}

#articleP{
	padding-top:20px;
}

#oats{
	float:right;
	margin-left:10px;
	padding-top:50px;
	font-size:16px;
}